body {
    background-image: url("/home/shannon/Documents/moringa-school-projects/Bazu-Pizza/images/pizza6.jpeg");
    ;
    background-size: cover;
    object-fit: cover;
    border-radius: 4px;
background-color: #422303;

}
  
  h1 {
    background-color: #302e2b;
    font-weight: 200;
    font-size: xx-large;
  }
  
  div {
    background-color: #796d5f;
    ;
  }
  
  span {
    background-color: #f18973;
  }
  .container-fluid {
    margin: 0 auto;
    width: 960px;
  }
  
  .whatwedo img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  h1, h3 {
    text-align: center;
  }
  
  .pacifico {
    font-family: 'Pacifico', cursive;
  }
  
  .col-md-4.col-sm-12 {
    text-align: center;
  }
  @media only screen and (max-width: 600px) {
    .container-fluid {
      width: 100%;
    }
  
    .display-1 {
      font-size: 2.5rem;
    }
  }
  
  @media only screen and (min-width: 600px) {
    .container-fluid {
      width: 95%;
    }
  }
  @media only screen and (min-width: 768px) {
    .container-fluid {
      width: 90%;
    }
  }
  
  @media only screen and (min-width: 992px) {
    .container-fluid {
      width: 70%;
    }
  }
  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #f38609;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  #overlay{
    background-color: rgba(0, 0, 0, 0.1);
    height: 100%;
    width: 100%;
    position: absolute;
    /* overflow-x: hidden; */
  }